        
        body{background-color: #A9A9A9}
        .headers{
            position: relative;
            top: -20px;
            background-color: #BC5959;
            padding-top: 10px;
            width: 100%;
            border-bottom: solid;
            border-left: solid;
            border-right: solid;
            border-color: black;
            
        }
        #login{
            padding-bottom: 10px;
            padding-left: 400px;
        }
        #tiger{
            height: 750px;
            width: 700px;
        }
        .table{
            background-color: white;
        }
        
        #h1{
            padding-top: 17px;
            padding-bottom: 17px;
        }
        
        

    